
/*
     FILE ARCHIVED ON 18:53:58 Jan 19, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:15:41 Jan 24, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.resolve: 67.307 (2)
  LoadShardBlock: 144.683 (3)
  exclusion.robots: 0.143
  captures_list: 184.524
  load_resource: 89.229
  esindex: 0.01
  exclusion.robots.policy: 0.134
  CDXLines.iter: 31.681 (3)
  RedisCDXSource: 2.086
  PetaboxLoader3.datanode: 89.982 (4)
*/